

.title {
  font-size: 24px;
  color: #FFFFFF;
}
.between {
  display: flex;
  justify-content: space-between;
}
.icon {
  height: 44px;
}
.vertical-item {
  align-self: center;
}
.flex-grow {
  flex-grow: 1;
}
.banner-pic {
  width: 100%;
  height: 600px;
}
.banner-txt {
  font-family: 'Special Elite', cursive;
}
.bio-picture {

  height: 400px;
}

.App {
  text-align: center;
  background-color: #000639;
}
